@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a MusicLibrary!</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">building with ASP.NET Core</a> by AndresGlz01</p>
</div>
