@model MusicLibrary.Models.Album

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Crear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdArtista" class="control-label">Artista</label>
                <select asp-for="IdArtista" class ="form-control" asp-items="ViewBag.IdArtista"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaLanzamiento" class="control-label">Fecha de lanzamiento</label>
                <input asp-for="FechaLanzamiento" class="form-control" />
                <span asp-validation-for="FechaLanzamiento" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <a asp-action="Index" class="btn btn-outline-primary">Regresar</a>
                <input type="submit" asp-action="Crear" class="btn btn-outline-success" value="Guardar" />
            </div>
        </form>
    </div>
</div>
